.navbar{
    display: flex;
    

}
.navfst img{
height: 30px;
margin-left: 20px;
margin-top: 10px;
}
.navsec{
    display: flex;
    margin-left: 340px;
    
}

.serch{
    display: flex;
    border-radius: 10px;
    width: 500px;
    height: 48px;
    border: 2px solid grey;




}
.serch img{
    background-color: gray;
    
   
    height: 48px;
}
.serchbox{
    width: 500px;
    background-color: black;
    border-radius: 14px;
    font-size: 20px;
    color: grey;
    font-weight: 500;
    padding-top: 13px;
    padding-left: 8px;
    
    
}
.mic{
    width: 50px;
    
}
.navtrd{
    display: flex;
    justify-content: space-around;
    
    margin-left: 560px;
    margin-top: 15px;
}
.navtrd img{
    margin-right: 20px;
    height:40px;
}