.sidebar{
    width: 100%;
       
}
.imag img{
    height: 30px;
    margin-left: 30px;
}
.sec1{
    display: flex;
    margin-bottom: 10px;
   
}
.text{
    margin-left: 30px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
hr{
    margin-top: 20px;
    opacity: 0.3;

}
.sec2{
    display: flex;
    margin-top: 15px;
}
.subtext{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:600 ;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    opacity: 0.5;
}
.sec3{
    display: flex;
    margin-top: 15px;

}
.text1{margin-left: 30px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.subscription{
    margin-top: 20px;
}
.Home :hover{
    opacity: 0.7;
    
}
.video :hover{
    opacity: 0.7;
}
.subscription :hover{
    opacity: 0.7;
}
.navfst{
    display: flex;
    margin-bottom: 20px; 
}
